{{extends "base.html"}}

{{define "content"}}

<div class="">
    <div class="grid place-items-center gap-4">
        <h2 class="text-5xl md:text-7xl font-bold">WHY NOT</h2>
        <p class="text-gray-600 text-lg text-center max-w-2xl">Well, the answer is a bit more complicated than that. I
            have been interested in
            exercise for most of my life,
            spending a lot of time playing hockey and training into the gym. But recently, injuries related to sports
            and lifting have led me to look for alternative ways of moving my body. I never will stop sports and gym
            training, but long distance running is an experiment to move and push my body in a new different way.
        </p>
        <a href="/" class="btn btn-primary text-white">Back Home</a>
    </div>
</div>

{{end}}